body {
    margin: 0;
    font-family: sans-serif;
    background: url("https://media.istockphoto.com/photos/picturesque-morning-in-plitvice-national-park-colorful-spring-scene-picture-id1093110112");
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  #bands {
    list-style: inside square;
    font-size: 15px;
    background: rgb(126, 202, 238);
    width: 400px;
    margin: auto;
    padding: 0;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
  }
  
  #bands li {
    border-bottom: 1px solid #efefef;
    padding: 10px;
  }
  
  #bands li:last-child {
    border-bottom: 0;
  }

  a {
    color: #ffc600;
    text-decoration: none;
  }
